body{
    margin: 0;
    background-color: #121212;  
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.vanta-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
nav{
    padding: 1.5rem 3rem;
    /* position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;
    box-sizing: border-box; */
    display: flex;
    justify-content: flex-end;
    z-index: 1;
   /* background-color: rgba(0, 0, 0, 0.85);  */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); */
}
nav>a{
    margin: 0 2% 0 3%;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 18px;
    transition: box-shadow 0.3s ease-in-out;
}
nav > a:hover {
    text-shadow: 0 0 8px rgba(240, 240, 240, 0.7);
  }
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  
.intro{
    text-transform: uppercase;
    font-size: 7rem;
    line-height: 0.9;
    height: 85vh;
    position: relative; /* or absolute or fixed, depending on your layout */
    z-index: 1;
    font-family: 'Sora', sans-serif;
    animation: fadeIn 1s ease-in;
}
.name{
    margin-top: 5vh; 
    font-weight: 400;   
     font-family: 'Roboto', sans-serif;
  
}
.name>span{
     margin-left: 7vw;
}
.role{
    font-weight: 700;
    margin-left: 12vw;
    margin-top: 3vh;
}
.role>span{
    margin-left: 7vw;
}
section{
    padding: 2% 15%;
}
.section-title{
    font-size: 3rem;
    margin: 0;
    font-family: 'Sora', sans-serif;
}
.about{
    font-size: 20px;
}
.carousel-container {
    overflow: hidden;
    width: 100%;
    margin: 3rem 0;
}
    
.carousel-slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
}
  
.carousel-slide {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-left: 1rem;
    border: 2px dotted white;
    background-color: #343434;
}
.carousel-caption {
    margin-top: 5px;
    color: white;
    font-size: 1rem;
    /* text-transform: uppercase; */
}
  
.tech-icon {
    width: 50px;
    height: auto;
}
 
.project{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 4rem 1fr 2rem;
    margin-top: 10rem;
}

.project:first-of-type {
    margin-top: 3rem;
}

.project:last-of-type {
    margin-bottom: 7rem;
}

.project-img{
    z-index: -1;
    width: 100%;
    height: 100%;
    max-height: 500px;
    /* border: 2px solid red; */
}
.project-img.even{
    grid-row: 1/4;
    grid-column: 1/3;
}
.project-img.odd{
    grid-column: 2/4;
    grid-row: 1/4;
}
.project-details{
    padding: 0 3%;
    font-size: 1.2em;
    background-color: #232323;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}   
.project-details.even{
    grid-row: 2/3;
    grid-column: 2/4;
}
.project-details.odd{
    grid-column: 1/3;
    grid-row: 2/3;
}

.project-details h3{
    font-family: 'Sora', sans-serif;
    display: inline;
    margin-left: 1em;
    padding: .5rem 1rem;
    background: #7a7a7a;
    color: black;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

.project-details>div{
    margin: 1rem;
}
 
.project-details h4{
    margin: 0;
    margin-top: 1rem;
     
}

.project-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    text-decoration: none;
}
/* .project-links>a{
    color: #7a7a7a;
} */


.project-links a:first-child{
    margin-right: 3rem;
    
}

#contact>a{
    font-size: 3rem;
    text-decoration: none;
    color: #7a7a7a;
    transition: text-shadow 0.3s ease-in-out;
}

#contact > a:hover {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  }
           
.links{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    font-size: 1.5em;
    margin-bottom: 5rem;
}

.links-with-arrow{
    text-decoration: none;
    transition: all 0.3s ease;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.arrow {
    transition: all 0.3s ease;
}

.links-with-arrow:hover .arrow {
    transform: rotate(45deg);
}
 
.github{
    margin-top: -1.5rem;
    margin-left: -1rem;
}

@media (max-width: 1200px) {
  
  .role {
    margin-left: 5vw;  
  }

  .name > span{
    margin-left: 2vw; 
  }
  .role > span {
    margin-left: 5vw;  
  }
}

@media (max-width: 1050px) {
  .name{
    font-size: 6rem; 
    margin-left: 3vw; 
  }
  .role {
    font-size: 6rem; 
    margin-left: 7vw; 
  }

  .name > span,
  .role > span {
    margin-left: 5vw;  
  }
   section{
    padding: 2% 6%;
}
}

@media (max-width: 746px) {
  .name{
    font-size: 3.5rem; 
    margin-left: 1vw; 
  }
  .role {
    font-size: 3.5rem; 
    margin-left: 3vw; 
  }

  .name > span,
  .role > span {
    margin-left: 2vw;  
     font-size: 3.5rem; 
  }
section{
    padding: 2% 8%;
}
nav>a{
    font-size: 1rem;
}
.section-title{
    font-size: 2rem;
}
.about{
    font-size: 1.2rem;
}
.tech-icon {
    width: 30px;
    height: auto;
}
.project{
    display: block;
}
 
#contact>a{
    font-size: 1.5rem;
}
.links{
    font-size: 1rem;
}
}